[package]
name = "steamworksjs"
version = "0.0.1"
edition = "2021"

[lib]
crate-type = ["cdylib"]

[dependencies]
napi = { version = "2", features = ["tokio_rt", "napi6", "serde-json"] }
napi-derive = "2"
lazy_static = "1"
tokio = { version = "1", features = ["sync", "time"] }
steamworks = { git = "https://github.com/Noxime/steamworks-rs.git", features = ["serde"]}
serde = "1"
serde_json = "1"

[build-dependencies]
napi-build = "2"
